################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin
*/obj
*/Debug
/dBosque.Stub.Server/data/logs
/packages/*
/dbStub/dbStub.jfm
/dbStub/dbStub.dbmdl
/.vs/*
/dBosque.Stub.Frontend.Blazor/Client/bin
/dBosque.Stub.Frontend.Blazor/Client/obj
/dBosque.Stub.Frontend.Blazor/Server
/dBosque.Stub.Frontend.Blazor/Shared/bin
/dBosque.Stub.Frontend.Blazor/Shared/obj
/testb
