<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDERSERVICE">
            <Component Id="cmpC2CEE5D0FB7C2E60047078257052E5CF" Guid="*">
                <File Id="filBA9119C3F8DBBDE92020D776006AEDDC" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmp9FA0D5D30D8EDAD2C0BFFA92F277F178" Guid="*">
                <File Id="fil2B1AA3682AB58D59F0FB17461A1459B0" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Interfaces.dll" />
            </Component>
            
            <Component Id="cmpC8ED21E8DDE3280C321F1A7EE4603688" Guid="*">
                <File Id="fil9DEDFD6DB87DE4120AF12D78FF4E780F" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Repository.dll" />
            </Component>
            <Component Id="cmp976E11507C8F5BC820D66AF758524EC0" Guid="*">
                <File Id="filF0B57553D02BDA099708ED6C6CB74D9F" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Repository.Entities.dll" />
            </Component>
            
            <Component Id="cmpF9BF88E8A7D1CE9B038970987BB3CD5A" Guid="*">
                <File Id="filAF3172CD2EB7CEC1BBAF57855D4F40E3" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Repository.Interfaces.dll" />
            </Component>
            
            
            <Component Id="cmpAA7BD26F00A23D6B2550695F6CB61C8C" Guid="*">
                <File Id="fil240F686E234ACC15546EDE92D0EB2EC1" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.AspNetCore.Host.dll" />
            </Component>
            
            <Component Id="cmp7A1CBA767A43D91FF903CD0A3C7D6209" Guid="*">
                <File Id="filF5026A3932872AFE7F92E02DE8130E82" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.deps.json" />
            </Component>
            <Component Id="cmp2236A1654E02828C1C1554FB1E7B2676" Guid="*">
                <File Id="fil7C5D99C182AA62DBB8194362A2A49606" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.dll" />
            </Component>
            
            <Component Id="cmp383067375E64B2215EBF26F9E3DE74F7" Guid="*">
                <File Id="fil42E06D3426D412AF8AD2F9E1134D819C" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmp4691FAA260ED99414F64BBEC7C0EA6A2" Guid="*">
                <File Id="filD10BB1F2FC0B92DFF2A8B660CF47408F" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.runtimeconfig.json" />
            </Component>
            <Component Id="cmp009475B4592EE4938DBC90401FE4434A" Guid="*">
                <File Id="fil4E9A6264E80ABE7F628DA5C8F2D05811" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.Soap.dll" />
            </Component>
            
            <Component Id="cmp6B42839800D9EE8293479C50C7759B95" Guid="*">
                <File Id="filF9B6CAF0D3CE6F1667FB0DEFEDD2721E" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.Sockets.dll" />
            </Component>
            
            <Component Id="cmpBBE2A703E8A1C293BA7ABB93277FBEEA" Guid="*">
                <File Id="filA9FD1A7BE9020A74A3C2B93F2D8C01A2" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.WebApi.Configuration.dll" />
            </Component>
            
            <Component Id="cmp843397A76B439C4F2B3B816D9CDD5E2B" Guid="*">
                <File Id="filB29AC6D45243029EC2459CA4641D8F65" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.WebApi.Configuration.xml" />
            </Component>
            <Component Id="cmpBFE907AEC7816A91DEA894E26C6928B8" Guid="*">
                <File Id="filF5B737C7E0CCA71267524F23F54AF1EA" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Server.WebApi.dll" />
            </Component>
            
            <Component Id="cmp820B4E99CA23510B4EF87EDD1ED3DB62" Guid="*">
                <File Id="fil35E2B341C9969F80279E9C78A3DC4C63" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dBosque.Stub.Services.dll" />
            </Component>
            
            <Component Id="cmp0F963B22C445F4A2DCE151047B4F8DE3" Guid="*">
                <File Id="filC71726D2E245CCAB3F992A67C5FB431F" KeyPath="yes" Source="$(var.dBosque.Stub.Server.TargetDir)\dbstub.db" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ServerBinaries">
            <ComponentRef Id="cmpC2CEE5D0FB7C2E60047078257052E5CF" />
            <ComponentRef Id="cmp9FA0D5D30D8EDAD2C0BFFA92F277F178" />
            
            <ComponentRef Id="cmpC8ED21E8DDE3280C321F1A7EE4603688" />
            <ComponentRef Id="cmp976E11507C8F5BC820D66AF758524EC0" />
            
            <ComponentRef Id="cmpF9BF88E8A7D1CE9B038970987BB3CD5A" />
            
            
            <ComponentRef Id="cmpAA7BD26F00A23D6B2550695F6CB61C8C" />
            
            <ComponentRef Id="cmp7A1CBA767A43D91FF903CD0A3C7D6209" />
            <ComponentRef Id="cmp2236A1654E02828C1C1554FB1E7B2676" />
            
            <ComponentRef Id="cmp383067375E64B2215EBF26F9E3DE74F7" />
            <ComponentRef Id="cmp4691FAA260ED99414F64BBEC7C0EA6A2" />
            <ComponentRef Id="cmp009475B4592EE4938DBC90401FE4434A" />
            
            <ComponentRef Id="cmp6B42839800D9EE8293479C50C7759B95" />
            
            <ComponentRef Id="cmpBBE2A703E8A1C293BA7ABB93277FBEEA" />
            
            <ComponentRef Id="cmp843397A76B439C4F2B3B816D9CDD5E2B" />
            <ComponentRef Id="cmpBFE907AEC7816A91DEA894E26C6928B8" />
            
            <ComponentRef Id="cmp820B4E99CA23510B4EF87EDD1ED3DB62" />
            
            <ComponentRef Id="cmp0F963B22C445F4A2DCE151047B4F8DE3" />
        </ComponentGroup>
    </Fragment>
</Wix>